body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }

.header {
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .nav .nav__logo {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
    .nav .nav__logo:hover {
      cursor: pointer;
      -webkit-transform: scale(1.03);
              transform: scale(1.03); }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0; }
  .nav__item {
    list-style: none; }
  .nav__link {
    display: inline-block;
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    line-height: 60px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: color 1s;
    transition: color 1s; }
    .nav__link:hover {
      color: #00acdc; }
  .nav .is-active {
    position: relative;
    top: 0;
    color: #00acdc; }
    .nav .is-active::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #00acdc;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 8px; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 25px auto; }

.content-wrapper {
  padding: 10px 15px; }

.card-wrapper {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  background-color: #fff;
  margin: 25px;
  border: 1px solid #f3f3f3;
  border-radius: 5px; }
  .card-wrapper .card__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px auto;
    width: 150px;
    height: 134px;
    padding: 5px;
    border: 2px solid transparent;
    -webkit-transition: border 1s, -webkit-transform 1s;
    transition: border 1s, -webkit-transform 1s;
    transition: transform 1s, border 1s;
    transition: transform 1s, border 1s, -webkit-transform 1s; }
    .card-wrapper .card__img:hover {
      -webkit-transform: scale(1.23);
              transform: scale(1.23);
      border: 2px solid #f8f5f5;
      border-radius: 5px; }
  .card-wrapper__discription {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: black;
    padding-bottom: 5px;
    margin: 0;
    -webkit-transition: font-weight 0.5s;
    transition: font-weight 0.5s; }
    .card-wrapper__discription:hover {
      cursor: pointer;
      font-weight: 600; }
  .card-wrapper__code {
    font-size: 11px;
    line-height: 13px; }
  .card-wrapper .rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .card-wrapper .rating__star {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: url(./../images/star.svg);
      width: 13px;
      height: 13px;
      background-size: contain;
      margin: 0; }
    .card-wrapper .rating__star--active {
      background: url(../images/star-active.svg);
      width: 13px;
      height: 13px; }
    .card-wrapper .rating__views {
      font-size: 11px;
      line-height: 14px;
      margin-left: 18px; }
  .card-wrapper .cost-num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .card-wrapper .cost-num__cost {
      font-size: 11px; }
    .card-wrapper .cost-num__num {
      font-weight: bold;
      font-size: 16px; }
  .card-wrapper .btn-buy {
    width: 100%;
    border-radius: 5px;
    background-color: #00acdc;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #fff;
    -webkit-transition: background-color 1s, border 1s;
    transition: background-color 1s, border 1s; }
    .card-wrapper .btn-buy:hover {
      background-color: white;
      border: 1px solid #00acdc; }
    .card-wrapper .btn-buy__link {
      display: block;
      padding: 10px;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      -webkit-transition: color 1s;
      transition: color 1s; }
      .card-wrapper .btn-buy__link:hover {
        color: #00acdc; }

/*# sourceMappingURL=main.css.map */
